#stashBtn {
  width: 75px;
  height: 26px;
  display: block;
  position: fixed;
  top: -200px;
  left: -200px;
  z-index: 99999;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}
